<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TempName.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TempName.Properties.Settings>
            <setting name="IsUsingName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUsingLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RefreshRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ServerNameContainsThis" serializeAs="String">
                <value>G-Money</value>
            </setting>
            <setting name="LogFilePathAndName" serializeAs="String">
                <value>Log.txt</value>
            </setting>
            <setting name="PlayerName" serializeAs="String">
                <value>PlayerName</value>
            </setting>
            <setting name="PlayerUID" serializeAs="String">
                <value>PlayerUID</value>
            </setting>
        </TempName.Properties.Settings>
    </userSettings>
</configuration>
